<!DOCTYPE html>
<html>
    <head>
        <base href="~/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background: #eeeeee;
                font-family: Arial;
            }

            div {
                background: rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                padding: 30px;
                margin: 10px;
            }

        </style>
    </head>
    <body>
        <div>
            Layout
            @RenderBody()
        </div>
    </body>
    <script src="_framework/blazor.server.js"></script> 
</html>
